body {
    background-color: #fbffe0;
    font-family:'Segoe UI', sans-serif;
    color: #a26ec6;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Segoe UI', sans-serif;
    color: #a26ec6;
}

div[data-testid="stHeader"] {
    background-color: #a26ec6
}

.block-container {
    padding-top: 2rem;
}
